pandas
numpy
scikit-learn
joblib
nltk
transformers
torch
fastapi
uvicorn
python-multipart
jinja2
matplotlib
seaborn
streamlit
wordcloud
plotly
feedparser
sqlalchemy
passlib
bcrypt
pydantic
requests
beautifulsoup4
googlenews
